<%- include layouts/header.ejs %>

        <div class="upload">
            <button onclick="javascript:window.location.href='/version/upload'">上传新版本</button>
        </div>
        <h3 class="title1">版本列表</h3>

        <ul class="list1">
            <li class="clearfix top">
                <p class="col-3">类别</p>
                <p class="col-4">版本</p>
                <p class="col-1 t_center">开发者</p>
                <p class="col-3 t_center">发布时间</p>
                <p class="col-1">编辑</p>
            </li>

            <% for(var i in version) { %>
            <li class="clearfix">
                <p class="col-3"><% if(version[i].type==1){ %>民用级-主机<% } else if(version[i].type==2){ %>民用级-从机<% } else { %>工业级<% } %></p>
                <p class="col-4"><%= version[i].ver %></p>
                <p class="col-1 t_center"><%= version[i].dev %></p>
                <p class="col-3 t_center"><%= moment(version[i].created).format('YYYY-MM-DD hh:mm:ss') %></p>
                <p class="col-1 clearfix">
                    <a class="btn_revise" href="/version/upload/<%= version[i]._id %>"></a>
                    <a class="btn_delete" href="javascript:void(0)" onclick="deleteVersion('<%= version[i]._id %>');"></a>
                </p>
            </li>
            <% } %>

        </ul>
<!--
        <div class="paging_box clearfix">
            <ul class="paging"><li class="page_on">1</li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">下一页</a>
                </li><li>共XX页</li><li>到第<input type="text"/><button>确定</button></li></ul>
        </div>
-->
    </div>

</div>
<%- include layouts/footer.ejs %>
</body>
<script>
    function deleteVersion(id) {
        layer.confirm('确定要删除该版本?', {
            btn: ['确定', '取消']
        }, function () {
            window.location.href = "/version/delete/" + id;
        }, function () {});
    }
</script>
</html>