<%- include layouts/header.ejs %>

        <h3 class="title1 clearfix">条件搜索</h3>

        <ul class="search2">

<!--
            <li class="clearfix">
                <p class="col-2">发布时间</p>
                <div class="col-10">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><img src="/images/i_date.png" /> </span>
                            <input type="text" name="reservation" id="reservationtime" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM"/>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#reservationtime').daterangepicker({
                                timePicker: true,
                                timePickerIncrement: 30,
                                format: 'MM/DD/YYYY h:mm A'
                            }, function(start, end, label) {
                                console.log(start.toISOString(), end.toISOString(), label);
                            });
                        });
                    </script>
                </div>
            </li>
-->

            <li class="clearfix">
                <p class="col-2">帐户</p>
                <p class="col-10"><input type="text" id="inputTel" class="key_in" value="<%= tel %>" placeholder="请输入用户手机号码" maxlength="11" /></p>
            </li>
            <li><button id="btnSearch" class="btn_search">搜索</button></li>

        </ul>

        <!--<a href="#" class="switch"><img src="images/ico_arrow.png"/></a>
        <a href="#" class="switch"><img src="/images/ico_arrow2.png"/></a>-->

<!--搜索结果1
        <div class="search2_result t_center">
            抱歉，暂无您搜索的信息~<br/>您可以尝试扩大搜索范围
        </div>
-->
<!--搜索结果2
        <div class="search2_result">
            搜索<span>08/01/2013 1:00 PM - 08/01/2013 1:30 PM</span><span>xxx</span>结果如下：
        </div>
-->

        <h3 class="title1">设备列表</h3>

        <ul class="list1">
            <li class="clearfix top">
                <p class="col-3">MAC地址</p>
                <p class="col-3">设备昵称</p>
                <p class="col-2">机器类型</p>
                <p class="col-2 t_center">ver1</p>
                <p class="col-2 t_center">ver2</p>
            </li>

            <% for(var i in device) { %>

            <li class="clearfix">
                <p class="col-3"><%= device[i].mac %></p>
                <p class="col-3"><%= device[i].name %></p>
                <p class="col-2"><% if(device[i].status == 1) { %>从机<% } else { %>主机<% } %></p>
                <p class="col-2 t_center"><%= device[i].ver1 %></p>
                <p class="col-2 t_center"><%= device[i].ver2 %></p>
            </li>

            <% } %>
        </ul>

<!--
        <div class="paging_box clearfix">
            <ul class="paging"><li class="page_on">1</li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">下一页</a>
                </li><li>共XX页</li><li>到第<input type="text"/><button>确定</button></li></ul>
        </div>

        <div class="paging_box clearfix">
            <ul class="paging"><li><a href="#">上一页</a></li><li><a href="#">1</a></li><li class="page_on">2</li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">下一页</a>
                </li><li>共XX页</li><li>到第<input type="text"/><button>确定</button></li></ul>
        </div>
-->

    </div>
</div>
<%- include layouts/footer.ejs %>
</body>

<script>
    $(function() {
        $("#btnSearch").click(function() {
            window.location.href="/device/list?tel=" + $("#inputTel").val();
        });
    });
</script>

</html>