<%- include layouts/header.ejs %>

        <h3 class="title1 clearfix">条件搜索</h3>

        <ul class="search2">

            <li class="clearfix">
                <p class="col-2">MAC搜索</p>
                <p class="col-10"><input id="inputMac" type="text" value="<%= mac %>" class="key_in" placeholder="请输入mac地址"/></p>
            </li>
            <li><button id="btnSearch" class="btn_search">搜索</button></li>

        </ul>

        <!--<a href="#" class="switch"><img src="images/ico_arrow.png"/></a>
        <a href="#" class="switch"><img src="/images/ico_arrow2.png"/></a>-->


        <h3 class="title1">设备列表</h3>

        <ul class="list1 t_center">
            <li class="clearfix top">
                <div class="col-9">
                    <p class="col-1">PM2.5</p>
                    <p class="col-1">个数</p>
                    <p class="col-1">甲醛</p>
                    <p class="col-1">湿度</p>
                    <p class="col-1">温度</p>
                    <p class="col-1">FEI</p>
                    <p class="col-1">评级</p>
                    <p class="col-1">光照</p>
                    <p class="col-1">AQI</p>
                    <p class="col-1">电压</p>
                    <p class="col-1">M温度</p>
                    <p class="col-1">APP</p>
                </div>
                <div class="col-3">
                    <p class="col-6">Mac地址</p>
                    <p class="col-6">接收时间</p>
                </div>
            </li>

            <% for(var i in data) { %>

            <li class="clearfix">
                <div class="col-9">
                    <p class="col-1"><%= data[i].x1 %></p>
                    <p class="col-1"><%= data[i].x2 %></p>
                    <p class="col-1"><%= data[i].x9 %></p>
                    <p class="col-1"><%= data[i].x10 %></p>
                    <p class="col-1"><%= data[i].x11 %></p>
                    <p class="col-1"><%= data[i].ferval %></p>
                    <p class="col-1"><%= data[i].fei %></p>
                    <p class="col-1"><%= data[i].x14 %></p>
                    <p class="col-1"><%= data[i].aqi %></p>
                    <p class="col-1"><%= data[i].ddv %></p>
                    <p class="col-1"><%= data[i].mcu %></p>
                    <p class="col-1">0</p>
                </div>
                <div class="col-3">
                    <p class="col-6"><%= data[i].mac %></p>
                    <p class="col-6"><%= moment(data[i].created).format('YYYY-MM-DD hh:mm:ss') %></p>
                </div>
            </li>

            <% } %>

        </ul>
<!--
        <div class="paging_box clearfix">
            <ul class="paging"><li class="page_on">1</li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">下一页</a>
                </li><li>共XX页</li><li>到第<input type="text"/><button>确定</button></li></ul>
        </div>

        <div class="paging_box clearfix">
            <ul class="paging"><li><a href="#">上一页</a></li><li><a href="#">1</a></li><li class="page_on">2</li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">下一页</a>
                </li><li>共XX页</li><li>到第<input type="text"/><button>确定</button></li></ul>
        </div>
-->

    </div>

</div>
<%- include layouts/footer.ejs %>
</body>
<script>
    $(function() {
        $("#btnSearch").click(function() {
            window.location.href="/data/list?mac=" + $("#inputMac").val();
        });
    });
</script>
</html>